@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.menu-link{
  color: darkgray;
  cursor: pointer;
}
.intro{
  height: calc(100vh - 50px);
}
.brand{
  color: green;
}
.btn{
  background-color: green;
}
.btn:hover{
  background-color: darkgreen;
}
.circle{
  border-radius: 100%;
  width: 50%;
  z-index: 999;
  margin: auto;
}

.services-title{
  width: fit-content;
  padding: 4px;
  border-bottom: 4px solid green;
}
.service-subtitle{
  color: green;
}
.card{
  height: 46%;
  width: 46%;
  background: whitesmoke;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.media{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.media:hover{
  transform: scale(1.1);
}
.title{
  letter-spacing: 6px;
}
.description{
  position: absolute;
  opacity: 0;
  background: rgb(234, 243, 235);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.8s ease-in-out;
  width: 44%;
}
.card:hover .description  {
  opacity: 0.8;
  z-index: 999;
}


.comment-cards{
  width: 30%;
  background: whitesmoke;
  border-radius: 20px;
}
.avatar{
  border-radius: 50%;
}
.footer{
  border-top: 3px solid green;
}
.footer-title{
  background: green;
}
.footer-subtitle{
  text-decoration-color: green;
}